body {
  background: #076653;
}

.first-section {
  padding: 100px 0 0;
}

.first-section .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: #08735D;
  width: 80%;
  padding: 50px 70px;
  border-radius: 10px;
  box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.1);
}

.first-section .content .img {
  width: 360px;
  border-radius: 50%;
  margin-right: 90px;
}

.first-section .content .title {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}

.first-section .content .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
  color: #fff;
  margin-bottom: 70px;
}

.first-section .content .social-links {
  display: flex;
  flex-direction: column;
}

.first-section .content .social-links .link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin-bottom: 20px;

  transition: 400ms ease;
}

.first-section .content .social-links .link:hover {
  color: #b28b54;
}

.first-section .content .social-links .link .icon {
  margin-right: 20px;
}

.first-section .content .form-block .form {
  display: flex;
  flex-direction: column;
}

.first-section .content .form .label {
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
}

.first-section .content .form input,
.first-section .content .form textarea {
  padding: 10px 10px;
  width: 380px;
  border-radius: 6px;
  border: 1px solid #189369;
  background: #fff;
  box-shadow: 0px 10px 50px rgba(24, 147, 105, 0.05);
  margin-bottom: 20px;
}

.first-section .content .form .button {
  font-size: 16px;
  padding: 15px 50px;
  border: none;
  border-radius: 6px;
  background: #b28b54;
  color: #fff;
  max-width: 200px;

  margin-top: 10px;
  cursor: pointer;

  transition: 400ms ease;
}

.first-section .content .form .button:hover {
  background: #189369;
  transform: scale(0.97);
}